@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes anime {
    from {
        transform: translateY(70px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}